$bg: #e5f3fa;
$ballon-white:#f6f6f6;
$ballon-darkblue: #38618c;
$ballon-blue: #35a7ff;
$ballon-red: #ff5964;
$ballon-yellow: #ffe74c;
$art-yellow:#ffce00;
$art-blue:#0375b4;
$art-green:#007849;
$art-black:#262228;
$navbar-bg: #005BBB;
$navbar-color: #000000;
$hover-bg: #000000;
$hover-color: #ffffff;
$duration: .4;