@import "../variables/_variables";

@mixin bodyBG($color) {
    background-color: $color; 
}

@mixin hoverBgAndColor($bg, $color, $dur) {
    background-color:$bg;
    color: $color;
}


@mixin Anchor($width: 100%, $left: 0%, $block: block, $color: white) {
    position: relative;
    width: $width;
    left: $left;
    text-align: center;
    font-size: 1.5em;
    margin: 1% 0%;
    text-decoration: none;
    color: $color;
    display: $block;
    @media screen and (max-width: 384px) {
        font-size: 1em;
        font-weight: bold;
    }
}