@import "../variables/_variables.scss";
@import "../mixins/_mixins.scss";

body {
    @include bodyBG($bg);
}

section:first-child {
    margin: 0!important;
}

section {
    // margin: 3% 0%;
    padding: 5% 0%;
}

.main-photo, .about {
    position: relative;
    width: 100%;
}

.image {
    position: relative;
    width: 100%;
}

.desc {
    display: block;
}

.hidden {
    display: none;
}

footer {
    margin: 5% 0% 0% 0%;
}