@import "../mixins/_mixins";
@import "../variables/_variables";

.contacts {
    background-color: $art-green;

}

.contacts .contact {
    position: relative;
    width: 60%;
    left: 20%;
    padding: 2% 0%;
    @media screen and (max-width: 384px) {
        width: 90%;
        left: 5%;
    }
}

.contacts .contact .image {
    position: relative;
    width: 10%;
    display: inline-block;
}

.contacts .contact .anchor {
    @include Anchor(70%, 10%, inline-block, #ffffff);
    transition: background-color .3s, color .3s;
    border-radius: 5px;
    @media screen and (max-width: 768px) {
        font-size: 14pt;
    }
}

.contacts .contact .anchor:hover {
    background-color: white;
    color: black;
}