@import "../mixins/_mixins";

.contacts {
    background-color: black;
}

.contacts .contact {
    position: relative;
    width: 60%;
    left: 20%;
    padding: 4% 0%;
    @media screen and (max-width: 384px) {
        width: 90%;
        left: 5%;
    }
}

.contacts .contact .image {
    position: relative;
    width: 20%;
    display: inline-block;
}

.contacts .contact .anchor {
    @include Anchor(70%, 10%, inline, #ffffff);
    @media screen and (max-width: 768px) {
        font-size: 14pt;
    }
}