@import "../variables/_variables.scss";
@import "../mixins/_mixins.scss";

.custom-nav {
    // padding: 0;
}

.custom-list {
    // background-color: $navbar-bg;
    justify-content: space-around;
    padding: 0;
    text-align: center;
    position: relative;
    width: 100%;
}

.custom-list .navbar-item {
    position: relative;
    width: 20%;
    padding: 20px 0px;
    text-decoration-style: none;
    color: $hover-color;
    transition: background-color $duration, color $duration;
}

.custom-list .navbar-item:hover {
    background-color: $hover-bg;
    color: $hover-color;
}