@import "../variables/_variables.scss";
@import "../mixins/_mixins.scss";

.custom-nav {
    padding: 0;
    background-color: $art-green;
}

.custom-list {
    background-color: $art-green;
    justify-content: space-around;
    padding: 0;
    text-align: center;
    position: relative;
    width: 100%;
}

.custom-list .navbar-item {
    position: relative;
    width: 20%;
    padding: 20px 0px;
    text-decoration-style: none;
    color: $ballon-white;
    transition: background-color .3s, color .3s;
    @media screen and (max-width: 768px) {
        width: 100%;
        text-align: center;
    }
}

.custom-list .navbar-item:hover {
    background-color: $art-black;
    color: white;
}

.custom-nav-btn {
    margin: 10px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")!important;
}