@import "../mixins/_mixins";
@import "../variables/_variables";

.portfolio .project {
    position: relative;
    width: 70%;
    left: 15%;
    margin: 3% 0%;
    @media screen and (max-width: 384px) {
        width: 100%;
        left: 0%;
    }
}

.portfolio .project .image {
    background-color: white;
    color: black;
    position: relative;
    width: 50%;
    left: 25%;
    border: 5px solid $art-green;
    border-radius: 5%;
    @media screen and (max-width: 384px){
        width: 60%;
        left: 20%;
    }
}

.portfolio .project .anchor {
    /* position: relative;
    width: 100%;
    text-align: center;
    font-size: 2em;
    margin: 1% 0%;
    text-decoration-style: none;
    color: #000000;
    display: block;
    @media screen and (max-width: 384px) {
        font-size: 1em;
        font-weight: bold;
    } */
    @include Anchor();
    @media screen and (max-width: 384px) {
        border-radius: 0px;
    }
    background-color: $art-green;
    border-radius: 5px;
    margin: 3% 0%!important;
    padding: 10px 0px;
    transition: background-color .3s, color .3s;
}

.portfolio .project .anchor:hover {
    background-color: white;
    color: black;
}

.portfolio .project .desc {
    position: relative;
    width: 90%;
    left: 5%;
    font-size: 14pt;
    margin: 1% 0%;
    text-align: justify;
}